/* Custom properties */
:root {
    --measurementFirework: 1.5vmin;
    --widthTowerTop: 3.5vmin;
    --heightTowerTop: 12vmin;
    --boxShadowFirework: -120px -18.66667px blue, 48px -16.66667px #00ff84, 190px 16.33333px #002bff, -113px 108.66667px #ff009d, -109px 87.66667px #ffb300, -50px -113.66667px #ff006e, 26px -31.66667px #ff4000, 180px -151.66667px #ff00d0, -12px -138.66667px #00f6ff, 20px 188.66667px #99ff00, -69px -27.66667px #ff0400, -111px -139.66667px #6200ff, 155px -37.66667px #00ddff, -152px -180.66667px #00ffd0, -50px -37.66667px #00ffdd, -95px -175.66667px #a6ff00, -88px 10.33333px #0d00ff, 112px -109.66667px #005eff, 69px -215.66667px #ff00a6, 168px 100.66667px #ff004c, -44px 24.33333px #ff6600, 97px 125.66667px #ff0066, -11px -102.66667px #00ffa2, 36px -126.66667px #b700ff, 140px -196.66667px #9000ff, 125px 175.66667px #00bbff, 118px -181.66667px #ff002f, 144px -111.66667px #ffae00, 36px -78.66667px #f600ff, -63px -196.66667px #c800ff, -18px -27.66667px #d4ff00, -134px -177.66667px #ea00ff, -36px -212.66667px #ff00d4, 9px 106.66667px #00fff2, 91px -78.66667px #000dff, -22px -191.66667px #9dff00, 139px -192.66667px #a6ff00, 56px 2.66667px #0099ff, -156px -76.66667px #ea00ff, -163px -33.66667px #00fffb, -138px -146.66667px #00ff73, 62px 163.66667px #0088ff, 44px -170.66667px #0062ff, 24px -142.66667px #b300ff, 141px -8.66667px #9000ff, 11px 85.66667px #ff6600, 181px 128.66667px #1e00ff, 90px -123.66667px #c800ff, 189px 70.33333px #00ffc8, -44px -163.66667px #00ff33, 100px -6.66667px #ff008c;
    --backgroundLightMode: lightgrey;
    --backgroundDarkMode: #161623;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    width: 100vw;
    background-color: var(--backgroundLightMode);
}

body input[type="checkbox"] {
    display: none;
}

body label {
    display: inline-block;
    margin: 2em;
    padding: 0.5em;
    border-radius: 0.5em;
    border: 3px solid var(--backgroundDarkMode);
    color: var(--backgroundDarkMode);
    cursor: pointer;
}

body label:last-of-type {
    display: none;
    margin-left: 0;
}

body label:first-of-type::before {
    content: 'Start Fireworks';
}

body label:last-of-type::before {
    content: 'Baguette Fireworks';
}

body label:hover {
    background-color: var(--backgroundDarkMode);
    border-color: var(--backgroundLightMode);
    color: var(--backgroundLightMode);
}

body img {
    height: 90vh;
    display: block;
    margin: auto;
}

/* Background */
body>div:first-of-type {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    background-size:
        /* Trees left */
        5.65em 5.65em, 5em 5em, 0.8em 8.5em,
        5.65em 5.65em, 5em 5em, 0.8em 6em,
        5.65em 5.65em, 5em 5em, 0.8em 3.5em,

        /* Trees right */
        5.65em 5.65em, 5em 5em, 0.8em 8.5em,
        5.65em 5.65em, 5em 5em, 0.8em 6em,
        5.65em 5.65em, 5em 5em, 0.8em 3.5em,
        
        /* Grass and path */
        100% 14.35%;
    background-position: 
        /* Trees left */
        36.415% 76.79%, 36.5% 76.5%, calc(36.5% + 0.5em) calc(76.5% + 6.8em),
        29.9% 80.5%, 30% 80%, calc(30% + 0.85em) calc(80% + 5.375em),
        23.33% 83.95%, 23.5% 83.5%, calc(23.5% + 1.15em) calc(83.5% + 3.75em),

        /* Trees right */        
        63.59% 76.9%, 63.5% 76.5%, 62.95% calc(76.5% + 6.8em),
        70.1% 80.5%, 70% 80%, 69.2% calc(80% + 5.375em),
        76.7% 83.95%, 76.5% 83.5%, 75.43% calc(83.5% + 3.75em),

        /* Grass and path */
        bottom left;
    background-repeat: no-repeat;
}

/* Eiffel Tower */
body>div:nth-of-type(2) {
    position: relative;
    margin: var(--heightTowerTop) auto 0;
    height: 72vmin;
    width: 32vmin;
    background-image:
        radial-gradient(ellipse at 10% -200%, transparent 78%,  var(--backgroundDarkMode) 78%),
        radial-gradient(ellipse at 90% -200%, transparent 78%,  var(--backgroundDarkMode) 78%),
        radial-gradient(ellipse at -150% -800%, transparent 85%, var(--backgroundDarkMode) 80% 92%, transparent 92% 100%),
        radial-gradient(ellipse at 250% -800%, transparent 85%, var(--backgroundDarkMode) 80% 92%, transparent 92% 100%),
        linear-gradient(90deg, transparent 0% 6.5%, var(--backgroundDarkMode) 6.5% 93.5%, transparent 93.5% 100%),
        radial-gradient(circle at bottom, transparent 45%, var(--backgroundDarkMode) 45% 90%, transparent 90%);
    background-size: 50% 60%, 50% 60%, 50% 23%, 50% 23%, 100% 6%, 100% 13%;
    background-position: top left, top right, 0% 77.5%, 100% 77.5%, 0% 86.5%, bottom;
    background-repeat: no-repeat;
}

body>div:nth-of-type(2)::before {
    content: '';
    position: absolute;
    left: calc(50% - var(--widthTowerTop) / 2);
    bottom: 99.8%;
    height: var(--heightTowerTop);
    width: var(--widthTowerTop);
    background-color: var(--backgroundDarkMode);
    clip-path: polygon(0% 100%, 45% 0%, 55% 0%, 100% 100%, 0% 100%);
}

/* Fireworks */
body>div:nth-of-type(n+3) {
    position: absolute;
    left: calc(50% - var(--measurementFirework) / 2);
    top: calc(50% - var(--measurementFirework) / 2);
    z-index: -1;
}

body>div:nth-of-type(n+3) div {
    position: absolute;
    width: var(--measurementFirework);
    height: var(--measurementFirework);
    border-radius: var(--measurementFirework);
    opacity: 0;
}

body>div:nth-of-type(3) div,
body>div:nth-of-type(4) div:nth-of-type(2n) {
    background-color: blue;
}
body>div:nth-of-type(3) div:nth-of-type(2n),
body>div:nth-of-type(4) div {
    background-color: red;
}

body input[type="checkbox"]:first-of-type:checked ~ label:last-of-type {
    display: inline-block;
}

body input[type="checkbox"]:first-of-type:not(:checked) ~ div div {
    animation: none !important;
}

body input[type="checkbox"]:checked ~ div div {
    animation-name: 
        bang,
        transformBack;
    animation-iteration-count: infinite;
}

/* Change to baguette firework */
body input[type="checkbox"]:last-of-type:checked ~ div div {
    --boxShadowFirework: -120px 80px red, -105px 70px red, -90px 60px red, -75px 50px red, -60px 50px red, -45px 50px red, -30px 50px red, -15px 50px red, -45px 30px white, -30px 20px white, -15px 10px white, 15px 0px white, 30px 0px white, 45px 0px white, 60px 0px white, 30px -20px white, 45px -30px white, 60px -40px white, 75px -50px blue, 90px -50px blue, 105px -50px blue, 120px -50px blue, 135px -50px blue, 105px -70px blue, 120px -80px blue, 135px -90px blue, 150px -100px blue,  165px -110px blue, 182px -110px blue, 195px -102px blue, 203px -88px blue, 204px -72px blue, 200px -56px blue, 185px -46px blue, 170px -36px blue, 155px -26px blue, 140px -16px blue, 125px -6px blue, 110px 6px blue, 95px 16px white, 80px 26px white, 65px 36px white, 50px 46px white, 35px 56px white, 20px 66px white, 5px 76px white, -10px 86px white, -25px 96px red, -40px 106px red, -55px 116px red, -70px 126px red, -85px 136px red, -102px 136px red, -117px 126px red, -125px 112px red, -126px 96px red;
    animation-name: 
        bang,
        transformBack;
    animation-iteration-count: infinite;
}

body input[type="checkbox"]:checked ~ div:nth-of-type(3) div:first-of-type {
    transform: translate(-397px, 286px);
    animation-duration: 3.6s;
    animation-delay: 
        4s,
        3s;
}
body input[type="checkbox"]:checked ~ div:nth-of-type(3) div:nth-of-type(2) {
    transform: translate(-422px, 12px);
    animation-duration: 2.3s;
    animation-delay: 
        1.2s,
        0.5s;
}
body input[type="checkbox"]:checked ~ div:nth-of-type(3) div:last-of-type {
    transform: translate(-285px, -211px);
    animation-duration: 4.1s;
    animation-delay: 
        4s,
        2.6s;
}

body input[type="checkbox"]:checked ~ div:nth-of-type(4) div:first-of-type {
    transform: translate(397px, 286px);
    animation-duration: 2.8s;
    animation-delay: 
        5s,
        4.1s;
} 
body input[type="checkbox"]:checked ~ div:nth-of-type(4) div:nth-of-type(2) {
    transform: translate(422px, 12px);
    animation-duration: 1.8s;
    animation-delay: 
        3.4s,
        2.8s;
}
body input[type="checkbox"]:checked ~ div:nth-of-type(4) div:last-of-type {
    transform: translate(285px, -211px);
    animation-duration: 4.6s;
    animation-delay: 
        5.7s,
        4.4s;
}

@keyframes bang {
    30% {
        box-shadow: var(--boxShadowFirework);
        background-color: white;
    }
    55% {
        box-shadow: var(--boxShadowFirework);
        background-color: white;
        opacity: 0;
    }
    56% {
        box-shadow: none;
    }
    100% {
        opacity: 0;
    }
}

@keyframes transformBack {
    0% {
        transform: translate(0px, 0px)  scale(0.2);
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
}

body input[type="checkbox"]:first-of-type:checked ~ label:first-of-type::before {
    content: 'Stop Fireworks';
}
body input[type="checkbox"]:last-of-type:checked ~ label:last-of-type::before {
    content: 'Normal Fireworks';
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--backgroundDarkMode);
    }

    body label {
        color: var(--backgroundLightMode);
        border: 3px solid var(--backgroundLightMode);
    }
    body label:hover {
        background-color: var(--backgroundLightMode);
        color: var(--backgroundDarkMode);
        border-color: var(--backgroundDarkMode);
    }
    
    body>div:nth-of-type(2) {
        background-image:
            radial-gradient(ellipse at 10% -200%, transparent 78%,  var(--backgroundLightMode) 78%),
            radial-gradient(ellipse at 90% -200%, transparent 78%,  var(--backgroundLightMode) 78%),
            radial-gradient(ellipse at -150% -800%, transparent 85%, var(--backgroundLightMode) 80% 92%, transparent 92% 100%),
            radial-gradient(ellipse at 250% -800%, transparent 85%, var(--backgroundLightMode) 80% 92%, transparent 92% 100%),
            linear-gradient(90deg, transparent 0% 6.5%, var(--backgroundLightMode) 6.5% 93.5%, transparent 93.5% 100%),
            radial-gradient(circle at bottom, transparent 45%, var(--backgroundLightMode) 45% 90%, transparent 90%);
    }

    body>div:nth-of-type(2)::before {
        background-color: var(--backgroundLightMode);
    }
}

@media (min-width: 1389px) and (prefers-color-scheme: dark) {
    body>div:first-of-type {
        background-image: 
            /* Trees left */
            radial-gradient(circle at center, transparent 75%,  var(--backgroundDarkMode) 75% 100%),
            linear-gradient(45deg, #08f26e 0%, #06a94d 20% 80%, #08f26e 100%),
            linear-gradient(0deg, rgba(195,131,77,1) 35%, rgba(171,115,67,1) 100%),
            radial-gradient(circle at center, transparent 75%,  var(--backgroundDarkMode) 75% 100%),
            linear-gradient(135deg, #08f26e 0%, #06a94d 20% 80%, #08f26e 100%),
            linear-gradient(0deg, rgba(195,131,77,1) 35%, rgba(171,115,67,1) 100%),
            radial-gradient(circle at center, transparent 75%,  var(--backgroundDarkMode) 75% 100%),
            linear-gradient(45deg, #08f26e 0%, #06a94d 20% 80%, #08f26e 100%),
            linear-gradient(0deg, rgba(195,131,77,1) 35%, rgba(171,115,67,1) 100%),
            
            /* Trees right */
            radial-gradient(circle at center, transparent 75%,  var(--backgroundDarkMode) 75% 100%),
            linear-gradient(135deg, #08f26e 0%, #06a94d 20% 80%, #08f26e 100%),
            linear-gradient(0deg, rgba(195,131,77,1) 35%, rgba(171,115,67,1) 100%),
            radial-gradient(circle at center, transparent 75%,  var(--backgroundDarkMode) 75% 100%),
            linear-gradient(45deg, #08f26e 0%, #06a94d 20% 80%, #08f26e 100%),
            linear-gradient(0deg, rgba(195,131,77,1) 35%, rgba(171,115,67,1) 100%),
            radial-gradient(circle at center, transparent 75%,  var(--backgroundDarkMode) 75% 100%),
            linear-gradient(135deg, #08f26e 0%, #06a94d 20% 80%, #08f26e 100%),
            linear-gradient(0deg, rgba(195,131,77,1) 35%, rgba(171,115,67,1) 100%),
            
            /* Grass and path */
            linear-gradient(90deg, #06a94d 0% 45%, grey 45% 55%, #06a94d 55% 100%);
    }
}

@media (min-width: 1389px) and (prefers-color-scheme: light) {
    /* Background */
    body>div:first-of-type {
        background-image: 
            /* Trees left */
            radial-gradient(circle at center, transparent 75%,  var(--backgroundLightMode) 75% 100%),
            linear-gradient(45deg, #08f26e 0%, #06a94d 20% 80%, #08f26e 100%),
            linear-gradient(0deg, rgba(195,131,77,1) 35%, rgba(171,115,67,1) 100%),
            radial-gradient(circle at center, transparent 75%,  var(--backgroundLightMode) 75% 100%),
            linear-gradient(135deg, #08f26e 0%, #06a94d 20% 80%, #08f26e 100%),
            linear-gradient(0deg, rgba(195,131,77,1) 35%, rgba(171,115,67,1) 100%),
            radial-gradient(circle at center, transparent 75%,  var(--backgroundLightMode) 75% 100%),
            linear-gradient(45deg, #08f26e 0%, #06a94d 20% 80%, #08f26e 100%),
            linear-gradient(0deg, rgba(195,131,77,1) 35%, rgba(171,115,67,1) 100%),

            /* Trees right */
            radial-gradient(circle at center, transparent 75%,  var(--backgroundLightMode) 75% 100%),
            linear-gradient(135deg, #08f26e 0%, #06a94d 20% 80%, #08f26e 100%),
            linear-gradient(0deg, rgba(195,131,77,1) 35%, rgba(171,115,67,1) 100%),
            radial-gradient(circle at center, transparent 75%,  var(--backgroundLightMode) 75% 100%),
            linear-gradient(45deg, #08f26e 0%, #06a94d 20% 80%, #08f26e 100%),
            linear-gradient(0deg, rgba(195,131,77,1) 35%, rgba(171,115,67,1) 100%),
            radial-gradient(circle at center, transparent 75%,  var(--backgroundLightMode) 75% 100%),
            linear-gradient(135deg, #08f26e 0%, #06a94d 20% 80%, #08f26e 100%),
            linear-gradient(0deg, rgba(195,131,77,1) 35%, rgba(171,115,67,1) 100%),
            
            /* Grass and path */
            linear-gradient(90deg, #06a94d 0% 45%, grey 45% 55%, #06a94d 55% 100%);
    }
}