:root {
    --measurementFirework: 1em;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
}

body input[type="checkbox"] {
    display: none;
}

body label {
    display: inline-block;
    margin: 2em;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: #161623;
    color: white;
    cursor: pointer;
}

body label::before {
    content: 'Start Fireworks';
}

body label:hover {
    background-color: blue;
}

body img {
    height: 90vh;
    display: block;
    margin: auto;
}

body div:first-of-type {
    position: absolute;
    left: calc(50% - var(--measurementFirework) / 2);
    top: calc(50% - var(--measurementFirework) / 2);
    width: var(--measurementFirework);
    height: var(--measurementFirework);
    border-radius: var(--measurementFirework);
    background-color: red;
    /* z-index: -1; */
}

body input[type="checkbox"]:checked ~ div {
    transform: translate(250px, -50px);
    transition: 0.7s;
    transition-timing-function: ease-out;
    animation-name: bang;
    animation-delay: 0.7s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes bang {
    30% {
        transform: translate(250px, -50px);
        box-shadow: -120px -18.66667px blue, 48px -16.66667px #00ff84, 190px 16.33333px #002bff, -113px 108.66667px #ff009d, -109px 87.66667px #ffb300, -50px -113.66667px #ff006e, 26px -31.66667px #ff4000, 180px -151.66667px #ff00d0, -12px -138.66667px #00f6ff, 20px 188.66667px #99ff00, -69px -27.66667px #ff0400, -111px -139.66667px #6200ff, 155px -37.66667px #00ddff, -152px -180.66667px #00ffd0, -50px -37.66667px #00ffdd, -95px -175.66667px #a6ff00, -88px 10.33333px #0d00ff, 112px -109.66667px #005eff, 69px -215.66667px #ff00a6, 168px 100.66667px #ff004c, -44px 24.33333px #ff6600, 97px 125.66667px #ff0066, -11px -102.66667px #00ffa2, 36px -126.66667px #b700ff, 140px -196.66667px #9000ff, 125px 175.66667px #00bbff, 118px -181.66667px #ff002f, 144px -111.66667px #ffae00, 36px -78.66667px #f600ff, -63px -196.66667px #c800ff, -18px -27.66667px #d4ff00, -134px -177.66667px #ea00ff, -36px -212.66667px #ff00d4, 9px 106.66667px #00fff2, 91px -78.66667px #000dff, -22px -191.66667px #9dff00, 139px -192.66667px #a6ff00, 56px 2.66667px #0099ff, -156px -76.66667px #ea00ff, -163px -33.66667px #00fffb, -138px -146.66667px #00ff73, 62px 163.66667px #0088ff, 44px -170.66667px #0062ff, 24px -142.66667px #b300ff, 141px -8.66667px #9000ff, 11px 85.66667px #ff6600, 181px 128.66667px #1e00ff, 90px -123.66667px #c800ff, 189px 70.33333px #00ffc8, -44px -163.66667px #00ff33, 100px -6.66667px #ff008c;
    }
    78% {
        transform: translate(250px, -50px);
        box-shadow: -120px -18.66667px blue, 48px -16.66667px #00ff84, 190px 16.33333px #002bff, -113px 108.66667px #ff009d, -109px 87.66667px #ffb300, -50px -113.66667px #ff006e, 26px -31.66667px #ff4000, 180px -151.66667px #ff00d0, -12px -138.66667px #00f6ff, 20px 188.66667px #99ff00, -69px -27.66667px #ff0400, -111px -139.66667px #6200ff, 155px -37.66667px #00ddff, -152px -180.66667px #00ffd0, -50px -37.66667px #00ffdd, -95px -175.66667px #a6ff00, -88px 10.33333px #0d00ff, 112px -109.66667px #005eff, 69px -215.66667px #ff00a6, 168px 100.66667px #ff004c, -44px 24.33333px #ff6600, 97px 125.66667px #ff0066, -11px -102.66667px #00ffa2, 36px -126.66667px #b700ff, 140px -196.66667px #9000ff, 125px 175.66667px #00bbff, 118px -181.66667px #ff002f, 144px -111.66667px #ffae00, 36px -78.66667px #f600ff, -63px -196.66667px #c800ff, -18px -27.66667px #d4ff00, -134px -177.66667px #ea00ff, -36px -212.66667px #ff00d4, 9px 106.66667px #00fff2, 91px -78.66667px #000dff, -22px -191.66667px #9dff00, 139px -192.66667px #a6ff00, 56px 2.66667px #0099ff, -156px -76.66667px #ea00ff, -163px -33.66667px #00fffb, -138px -146.66667px #00ff73, 62px 163.66667px #0088ff, 44px -170.66667px #0062ff, 24px -142.66667px #b300ff, 141px -8.66667px #9000ff, 11px 85.66667px #ff6600, 181px 128.66667px #1e00ff, 90px -123.66667px #c800ff, 189px 70.33333px #00ffc8, -44px -163.66667px #00ff33, 100px -6.66667px #ff008c;
        opacity: 0;
    }
    79% {
        transform: translate(0px, 0px);
        box-shadow: none;
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
}

body input[type="checkbox"]:checked ~ label::before {
    content: 'Stop Fireworks';
}


