:root {
    --measurementFirework: 2vmin;
    --widthTowerTop: 3.5vmin;
    --heightTowerTop: 12vmin;
    --boxShadowFirework: -120px -18.66667px blue, 48px -16.66667px #00ff84, 190px 16.33333px #002bff, -113px 108.66667px #ff009d, -109px 87.66667px #ffb300, -50px -113.66667px #ff006e, 26px -31.66667px #ff4000, 180px -151.66667px #ff00d0, -12px -138.66667px #00f6ff, 20px 188.66667px #99ff00, -69px -27.66667px #ff0400, -111px -139.66667px #6200ff, 155px -37.66667px #00ddff, -152px -180.66667px #00ffd0, -50px -37.66667px #00ffdd, -95px -175.66667px #a6ff00, -88px 10.33333px #0d00ff, 112px -109.66667px #005eff, 69px -215.66667px #ff00a6, 168px 100.66667px #ff004c, -44px 24.33333px #ff6600, 97px 125.66667px #ff0066, -11px -102.66667px #00ffa2, 36px -126.66667px #b700ff, 140px -196.66667px #9000ff, 125px 175.66667px #00bbff, 118px -181.66667px #ff002f, 144px -111.66667px #ffae00, 36px -78.66667px #f600ff, -63px -196.66667px #c800ff, -18px -27.66667px #d4ff00, -134px -177.66667px #ea00ff, -36px -212.66667px #ff00d4, 9px 106.66667px #00fff2, 91px -78.66667px #000dff, -22px -191.66667px #9dff00, 139px -192.66667px #a6ff00, 56px 2.66667px #0099ff, -156px -76.66667px #ea00ff, -163px -33.66667px #00fffb, -138px -146.66667px #00ff73, 62px 163.66667px #0088ff, 44px -170.66667px #0062ff, 24px -142.66667px #b300ff, 141px -8.66667px #9000ff, 11px 85.66667px #ff6600, 181px 128.66667px #1e00ff, 90px -123.66667px #c800ff, 189px 70.33333px #00ffc8, -44px -163.66667px #00ff33, 100px -6.66667px #ff008c;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    background-color: lightgrey;
}

body input[type="checkbox"] {
    display: none;
}

body label {
    display: inline-block;
    margin: 2em;
    padding: 0.5em;
    border-radius: 0.5em;
    border: 3px solid #161623;
    color: #161623;
    cursor: pointer;
}

body label::before {
    content: 'Start Fireworks';
}

body label:hover {
    background-color: #161623;
    border-color: lightgrey;
    color: lightgrey;
}

body img {
    height: 90vh;
    display: block;
    margin: auto;
}

/* Eiffel Tower */
body>div:first-of-type {
    position: relative;
    margin: var(--heightTowerTop) auto 0;
    height: 72vmin;
    width: 32vmin;
    background-image:
    radial-gradient(ellipse at 10% -200%, transparent 78%,  #161623 78%),
    radial-gradient(ellipse at 90% -200%, transparent 78%,  #161623 78%),
    radial-gradient(ellipse at -150% -800%, transparent 85%, #161623 80% 92%, transparent 92% 100%),
    radial-gradient(ellipse at 250% -800%, transparent 85%, #161623 80% 92%, transparent 92% 100%),
    linear-gradient(90deg, transparent 0% 6.5%, #161623 6.5% 93.5%, transparent 93.5% 100%),
    radial-gradient(circle at bottom, transparent 45%, #161623 45% 90%, transparent 90%);
    background-size:50% 60%, 50% 60%, 50% 23%, 50% 23%, 100% 6%, 100% 13%;
    background-position:top left, top right, 0% 77.5%, 100% 77.5%, 0% 86.5%, bottom;
    background-repeat: no-repeat;
}

body>div:first-of-type::before {
    content: '';
    position: absolute;
    left: calc(50% - var(--widthTowerTop) / 2);
    bottom: 99.8%;
    height: var(--heightTowerTop);
    width: var(--widthTowerTop);
    background-color: #161623;
    clip-path: polygon(0% 100%, 45% 0%, 55% 0%, 100% 100%, 0% 100%);
}

/* Fireworks */
body>div:nth-of-type(n+2) {
    position: absolute;
    left: calc(50% - var(--measurementFirework) / 2);
    top: calc(50% - var(--measurementFirework) / 2);
    z-index: -1;
}

body>div:nth-of-type(n+2) div {
    position: absolute;
    width: var(--measurementFirework);
    height: var(--measurementFirework);
    border-radius: var(--measurementFirework);
    opacity: 0;
}

body>div:nth-of-type(3) div,
body>div:nth-of-type(4) div:nth-of-type(2n) {
    background-color: blue;
}
body>div:nth-of-type(3) div:nth-of-type(2n),
body>div:nth-of-type(4) div {
    background-color: red;
}

body input[type="checkbox"]:checked ~ div div {
    animation-name: 
        bang,
        transformBack;
    animation-iteration-count: infinite;
}

body input[type="checkbox"]:checked ~ div:nth-of-type(3) div:first-of-type {
    transform: translate(-397px, 286px);
    animation-duration: 3.6s;
    animation-delay: 
        4s,
        3s;
}
body input[type="checkbox"]:checked ~ div:nth-of-type(3) div:nth-of-type(2) {
    transform: translate(-422px, 12px);
    animation-duration: 2.3s;
    animation-delay: 
        1.2s,
        0.5s;
}
body input[type="checkbox"]:checked ~ div:nth-of-type(3) div:last-of-type {
    transform: translate(-285px, -211px);
    animation-duration: 4.1s;
    animation-delay: 
        4s,
        2.6s;
}

body input[type="checkbox"]:checked ~ div:nth-of-type(4) div:first-of-type {
    transform: translate(397px, 286px);
    animation-duration: 2.8s;
    animation-delay: 
        5s,
        4.1s;
} 
body input[type="checkbox"]:checked ~ div:nth-of-type(4) div:nth-of-type(2) {
    transform: translate(422px, 12px);
    animation-duration: 1.8s;
    animation-delay: 
        3.4s,
        2.8s;
}
body input[type="checkbox"]:checked ~ div:nth-of-type(4) div:last-of-type {
    transform: translate(285px, -211px);
    animation-duration: 4.6s;
    animation-delay: 
        5.7s,
        4.4s;
}

@keyframes bang {
    30% {
        box-shadow: var(--boxShadowFirework);
    }
    55% {
        box-shadow: var(--boxShadowFirework);
        opacity: 0;
    }
    56% {
        box-shadow: none;
    }
    100% {
        opacity: 0;
    }
}

@keyframes transformBack {
    0% {
        transform: translate(0px, 0px);
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
}

body input[type="checkbox"]:checked ~ label::before {
    content: 'Stop Fireworks';
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #161623;
    }

    body label {
        color: lightgrey;
        border: 3px solid lightgrey;
    }
    body label:hover {
        background-color: lightgrey;
        color: #161623;
        border-color: #161623;
    }
    
    body>div:first-of-type {
        background-image:
        radial-gradient(ellipse at 10% -200%, transparent 78%,  lightgrey 78%),
        radial-gradient(ellipse at 90% -200%, transparent 78%,  lightgrey 78%),
        radial-gradient(ellipse at -150% -800%, transparent 85%, lightgrey 80% 92%, transparent 92% 100%),
        radial-gradient(ellipse at 250% -800%, transparent 85%, lightgrey 80% 92%, transparent 92% 100%),
        linear-gradient(90deg, transparent 0% 6.5%, lightgrey 6.5% 93.5%, transparent 93.5% 100%),
        radial-gradient(circle at bottom, transparent 45%, lightgrey 45% 90%, transparent 90%);
    }

    body>div:first-of-type::before {
        background-color: lightgray;
    }
}